<!DOCTYPE html>
<html ng-app="bleuItApp">

<head>
  <meta charset="utf-8">
  <title>Bleu It</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container" ng-controller="PostController as PC" ng-cloak>
    <div class="row">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">BLEU-IT</a>
          </div>
          <ul class="nav navbar-nav navbar-left">
            <li role="presentation">
              <a href="#" ng-click="PC.submission = !PC.submission">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Submit Post</a>
            </li>
            <li role="presentation">
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search..." />
                </div>
              </form>
            </li>
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Sort By <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Votes</a>
                </li>
                <li>
                  <a href="#">Date</a>
                </li>
                <li>
                  <a href="#">Title</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row" ng-show="PC.submission">
      <div class="col-md-12">
        <form name="submissionForm" ng-submit="PC.submitPost(PC.post)" novalidate>
          <div class="form-group" ng-class="{'has-success': submissionForm.title.$valid, 'has-error': submissionForm.title.$invalid && !submissionForm.title.$pristine}">
            <label class="control-label" for="title">Title</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="titleErrors" ng-model="PC.post.title" ng-minlength=3 ng-maxlength=63 required />
            <span class="help-block" id="titleErrors" ng-show="submissionForm.title.$error.minlength">
              Title must be at least 3 characters
            </span>
            <span class="help-block" id="titleErrors" ng-show="submissionForm.title.$error.maxlength">
              Title must be less than 64 characters
            </span>
          </div>
          <div class="form-group" ng-class="{'has-success': submissionForm.author.$valid, 'has-error': submissionForm.author.$invalid && !submissionForm.author.$pristine}">
            <label class="control-label" for="author">Author</label>
            <input type="text" class="form-control" name="author" id="author" aria-describedby="authorErrors" ng-model="PC.post.author" ng-minlength=3 ng-maxlength=63 required />
            <span class="help-block" id="authorErrors" ng-show="submissionForm.author.$error.minlength">
              Author name must be at least 3 characters
            </span>
            <span class="help-block" id="authorErrors" ng-show="submissionForm.author.$error.maxlength">
              Author name must be less than 64 characters
            </span>
          </div>
          <div class="form-group" ng-class="{'has-success': submissionForm.image_url.$valid, 'has-error': submissionForm.image_url.$invalid && !submissionForm.image_url.$pristine}">
            <label class="control-label" for="image_url">Image URL</label>
            <input type="url" class="form-control" name="image_url" id="image_url" aria-describedby="image_urlErrors" ng-model="PC.post.image_url" required />
            <span class="help-block" id="image_urlErrors" ng-show="submissionForm.image_url.$error.url">
              Please enter valid URL
            </span>
          </div>
          <div class="form-group" ng-class="{'has-success': submissionForm.description.$valid, 'has-error': submissionForm.description.$invalid && !submissionForm.description.$pristine}">
            <label class="control-label" for="description">Description</label>
            <textarea class="form-control" name="description" id="description" aria-describedby="descriptionErrors" ng-model="PC.post.description" ng-minlength=15 ng-maxlength=511 required></textarea>
            <span class="help-block" id="descriptionErrors" ng-show="submissionForm.description.$error.minlength">
              Description must be at least 15 characters
            </span>
            <span class="help-block" id="descriptionErrors" ng-show="submissionForm.description.$error.maxlength">
              Description must be less than 512 characters
            </span>
          </div>
          <input type="submit" class="btn btn-default" value="Submit Post" ng-disabled="submissionForm.$invalid" ng-click="submissionForm.$setPristine()" />
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div ng-repeat="post in PC.postList | orderBy : '-votes'">
          <div class="row well well-sm">
            <div class="col-md-3">
              <img class="img-responsive" ng-src="{{post.image_url}}" alt="{{post.title}}" />
            </div>
            <div class="col-md-9">
              <div class="row">
                <ul class="list-inline">
                  <li>
                    <h4>{{post.title}}</h4>
                  </li>
                  <li>
                    <h4>|</h4>
                  </li>
                  <li>
                    <h4>
                      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" ng-click="post.votes = post.votes + 1"></span>
                    </h4>
                  </li>
                  <li>
                    <h4>
                      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true" ng-click="post.votes = post.votes - 1"></span>
                    </h4>
                  </li>
                  <li>
                    <h4 ng-class="{'text-success': post.votes > 0, 'text-danger': post.votes < 0}">{{post.votes}}</h4>
                  </li>
                </ul>
              </div>
              <div class="row">
                <p class="text-right">
                  By {{post.author}}
                </p>
              </div>
              <div class="row">
                <p>
                  {{post.description}}
                </p>
              </div>
              <div class="row">
                <ul class="list-inline">
                  <li>
                    <h5>
                      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{post.date | date : "EEEE"}} at {{post.date | date : "shortTime"}}</h5>
                  </li>
                  <li>
                    <h5>|</h5>
                  </li>
                  <li>
                    <h5 ng-click="post.commentState = !post.commentState">
                      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{post.comments.length}} comments</h5>
                  </li>
                  <li>
                    <h5>|</h5>
                  </li>
                  <li>
                    <h5 ng-click="post.addComment = !post.addComment">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Add Comment</h5>
                  </li>
                </ul>
              </div>
              <div class="row" ng-show="post.addComment">
                <form class="inline-form" name="addCommentForm">
                  <div class="form-group" ng-class="{'has-success': addCommentForm.author.$valid, 'has-error': addCommentForm.author.$invalid && !addCommentForm.author.$pristine}">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" name="author" id="author" aria-describedby="authorErrors" ng-model="PC.post.comments.author" ng-minlength=3 ng-maxlength=15 required />
                    <span class="help-block" id="authorErrors" ng-show="addCommentForm.author.$error.minlength">
                      Username must be at least 3 characters
                    </span>
                    <span class="help-block" id="authorErrors" ng-show="addCommentForm.author.$error.maxlength">
                      Username must be less than 15 characters
                    </span>
                  </div>
                  <div class="form-group" ng-class="{'has-success': addCommentForm.text.$valid, 'has-error': addCommentForm.text.$invalid && !addCommentForm.text.$pristine}">
                    <label for="text">Text</label>
                    <input type="text" class="form-control" name="text" id="text" aria-describedby="textErrors" ng-model="PC.post.comments.text" ng-minlength=3 ng-maxlength=63 required />
                    <span class="help-block" id="textErrors" ng-show="addCommentForm.text.$error.minlength">
                      Comment must be at least 3 characters
                    </span>
                    <span class="help-block" id="textErrors" ng-show="addCommentForm.text.$error.maxlength">
                      Comment must be less than 63 characters
                    </span>
                  </div>
                </form>
              </div>
              <div class="row" ng-show="post.commentState">
                <div class="col-md-12">
                  <div ng-repeat="comment in post.comments">
                    <p><strong>{{comment.author}}</strong> - {{comment.text}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="PostController.js"></script>
</body>

</html>
